body{
    text-align:center;
    font-size:3em;
}
h1{
    border:3px solid;
    width:800px;
    text-align:center;
    position:relative;
    background-color:darkred;
    color:white;
    text-shadow:3px 3px black;
    left:275px;
}
input{
    width:200px;
    height:30px;
}